<template>
  <!-- <v-app> -->
    <v-content>
      <Toolbar />
      <router-view/>
      <!-- <DataTable /> -->
      <Footer />
    </v-content>
  <!-- </v-app> -->
</template>

<script>
  //import DataTable from './components/DataTable'
  import Footer from './components/Footer'
  import Toolbar from './components/Toolbar.vue'

  export default {
    name: 'App',
    components: {
      //DataTable,
      Footer,
      Toolbar
    },
    data() {
      return {

      }
    }
  }
</script>


