<template>
    <p>This is help</p>
</template>

<script>
  export default {
    name: 'Help',
    data() {
      return {

      }
    }
  }
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>