<template>
    <!-- The v-container can be used for a center focused page -->
    <v-container grid-list-md text-xs-center>

        <v-card v-if="searchSeen">
            <v-card-title>
                Szukaj w tabeli
                <v-spacer></v-spacer>
                <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
            </v-card-title>
        </v-card>

        <!-- <v-progress-linear slot="items" color="blue" indeterminate></v-progress-linear> -->
        <v-data-table :headers="headers" :items="tags" :search="search" :rows-per-page-items="[25,50]" rows-per-page-text="" height="inherit" class="elevation-1 pa-0 ma-2">
            <template slot="items" slot-scope="props" class="text-xs-left pa-0 ma-0">
                <td class="text-xs-left pa-0 pl-2 ma-0">{{props.item.name}}</td>
                <td class="text-xs-right pa-0 pr-2 ma-0">{{ props.item.val }}</td>
            </template>
        </v-data-table>

    </v-container>


</template>

<script>
    import io from 'socket.io-client'
    export default {
        name: 'DataTable',

        data() {
            return {
                searchSeen: true,

                //sockAddr: '',
                tags: [],
                search: '',
                headers: [{
                        text: 'Nazwa taga',
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Wartość',
                        align: 'center',
                        sortable: false,
                        value: 'val'
                    }
                ],
                socket: io('localhost:5000')
                //socket: io()
            }
        },
        created() {


        },
        mounted() {
            this.socket.on('dane', (data) => {
                this.tags = data;

                // eslint-disable-next-line no-console
                //console.log('Złe dane')
            });

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Zmniejszenie wysokości wierszy w tablicy */

/* table.v-table tbody td, table.v-table tbody th {
    height: 19px;
} */

</style>