<template>
    <div class="container">
        <h1>Latest Post</h1>
        <!-- Creqate post here -->
        <hr>

        <p class="error" v-if="error" {{error}}></p>

        <div class="post-container">
            <div class="post"
                v-for="(post, index) in posts"
                v-bind:item="post"
                v-bind:index="index"
                v-bind:key="post._id"
            >
                {{`${post.createdAt.getDate()}/${post.createdAt.getMonth()}/${post.createdAt.getFullYear()}`}}
                <div class="text">{{post.text}}</div>
            </div>

        </div>

    </div>
</template>

<script>
    import PostService from '../PostService.js'

    export default {
        name: 'PostComponent',
        data() {
            return {
                posts: [],
                error: '',
                text: ''
            }
        },
        async created() {
            try {
                this.posts = await PostService.getPosts();
            } catch (err) {
                this.error = err.message
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    div.container {
        max-width: 800px;
        margin: 0 auto;
    }

    p.error {
        border: 1px solid #ff5b5f;
        background-color: #ffc5c1;
        padding: 10px;
        margin-bottom: 15px;
    }

    div.post {
        position: absolute;
        border: 1px solid #5bd658;
        background-color: azure;
        padding: 10px 10px 30px 10px;
        margin-bottom: 15px;

    }

    div.created-at {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 15px 5px 15px;
        background-color: darkgreen;
        color: white;
        font-size: 13px;
    }

    p.text {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0;
    }
</style>