<template>
    <v-container >

        <v-navigation-drawer v-model="drawer" right temporary clipped app fixed>
            <v-list dense>
                <v-list-tile v-for="item in items" :key="item.title" @click.stop="right = !right">

                    <v-list-tile-action>
                        <v-tooltip bottom>
                            <v-icon slot="activator">{{item.icon}}</v-icon>
                            <span>{{item.tooltip}}</span>
                        </v-tooltip>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>{{item.title}}</v-list-tile-title>
                    </v-list-tile-content>

                </v-list-tile>
            </v-list>
        </v-navigation-drawer>

        <v-toolbar fixed app clipped-right>
            <v-toolbar-title class="headline font-weight-light">
                <span>
                    EtherNet/</span>
                <span class=" text-uppercase headline">ip</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>

            <v-btn icon flat v-on:click="searchSeen = !searchSeen">
                <v-icon>search</v-icon>
            </v-btn>







            <!-- <router-link to="/info"> -->
                <v-btn to="/info" icon>
                    <v-icon>settings</v-icon>
                </v-btn>
            <!-- </router-link> -->

            <v-btn icon @click.stop="drawer = !drawer">
                <v-icon>more_vert</v-icon>
            </v-btn>
        </v-toolbar>

    </v-container>

</template>

<script>
    export default {
        name: 'Toolbar',
        data() {
            return {
                drawer: null,
                items: [{
                        title: 'Home',
                        icon: 'home',
                        tooltip: 'Główna strona programu'
                    },
                    {
                        title: 'Wczytaj zestaw',
                        icon: 'refresh',
                        tooltip: 'Wczytanie nowego zestawu tagów'
                    },
                    {
                        title: 'Dodaj plik',
                        icon: 'cloud_upload',
                        tooltip: 'Wgranie na serwer nowego pliku json z tagami'
                    },
                    {
                        title: 'Usuń plik',
                        icon: 'delete',
                        tooltip: 'Usunięcie z serwera pliku json z tagami'
                    },
                    {
                        title: 'Stwórz nowy zestaw',
                        icon: 'build',
                        tooltip: 'Kreator nowego zestawu tagów do przeglądania'
                    },
                    {
                        title: 'Edytuj zestaw',
                        icon: 'edit',
                        tooltip: 'Modyfikacja istniejącego zestawu tagów'
                    },
                    {
                        title: 'Pomoc',
                        icon: 'help',
                        tooltip: 'Obsługa aplikacji'
                    },
                    {
                        title: 'Info',
                        icon: 'info',
                        tooltip: 'Informacje, wersja itp.'
                    }
                ],
            }
        }
    }
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>